@font-face{
    font-family: Nunito;
    src: url('./NunitoSans-Regular.ttf');
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width:100%;
    background-color: rgb(235, 237, 236);
    margin: auto;
}
cite{
    font-style: normal;
}
header.site-header{
    background-color:rgb(53, 55, 68);
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 15px 13px;
}
.side-bar{
    position: absolute;
    height: calc(100% - 100px);
    width: 230px;
    background-color: rgb(94, 211, 149);
}
footer.write-message-container{
    /*position: absolute;
    bottom: 0;
    left: 230px;
    height: 93px;
    width: calc(100% - 230px);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-top: 0.5px solid rgb(153, 153, 153);*/
}
footer.write-message-container>textarea{
    /*font-family: Nunito;
    color:  #616161;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    width: 90%;*/
}

.Growable {
    /*position: relative;*/
    /*bottom: 0;*/
    /*left: 230px;
    height: 93px;
    width: calc(100% - 230px);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-top: 0.5px solid rgb(153, 153, 153);
    overflow: hidden;*/
    position: relative;
    position: absolute;
    left: 230px;
    bottom: 0px;
    width: calc(100% - 230px);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
	/*border: 1px solid;*/
    border-top: 0.5px solid rgb(153, 153, 153);
	max-height: 300px;
    min-height: 93px;
	overflow: hidden;
	-webkit-scrollbar: red;
}

.Growable span{
    /*position: absolute;
    bottom: 0px;
    left: 0;
    max-height: 300px;
    min-height: 100%;
    max-width: 88%;
    font-family: Nunito;
    color: #616161;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;*/
}

.Growable textarea,
.Growable pre {
	/*margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Nunito;
    color: #616161;
    font-size: 15px;
    font-weight: 400;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 0.5em;
    bottom: 0;
    left: 0;*/
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	/*white-space: pre-wrap;*/
    white-space: normal;
	word-wrap: break-word;
	padding: 0.1em;
    padding-right: 10%;
}


.Growable textarea {
    /*font-family: Nunito;
    color: #616161;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    resize: none;
    border: none;
    position: absolute;
    padding-right: 10%; 
    bottom: 0px;
    left: 0;
    height: calc(100% - 1px);*/
    
    width: 100%;
	resize: none;
	border: none;
	
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	overflow: visible;
 
}
textarea:focus{
    /*border: 0 none #FFF;
    overflow: hidden;
    outline:none;*/
}
main.main-message-area{
    display: inline-block;
    height: calc(100% - 193px);
    width: calc(100% - 230px);
    margin-left: 230px;
    position: relative;
}
.title{
    font-family: Nunito;
    color:  #292929;
    font-size: 22.5px;
    font-weight: 400;
    text-align: left;
    margin-left: 29px;
}
.purpleman-writing,.green-writing{
    font-family: Nunito;
    color:  #353744;
    font-size: 15px;
    font-weight: 700;
    text-align: right;
}
/*
img.msg-arrow-img:hover, img.msg-wrap-img:hover{
    cursor: pointer;
}*/
img.msg-arrow-img{
    height: 27px;
    width: 32px;
    position: absolute;
    bottom: calc(50% - 13px);
    left: 91.4%;
    z-index: 100;
}
img.msg-wrap-img{
    height: 55px;
    width: 55px;
    position: absolute;
    bottom: calc(50% - 27px);
    left: 90%;
    z-index: 99;
}
ol.message-list{
    list-style: none;
    margin-top: -14px;
}  
.message-body{
    max-width: 600px;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
    background-color: #ffffff;
    font-family: Nunito;
    color: #616161;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    float: left;
}
span.delete-button{
    position: absolute;
    left: 665%;
    top: 7px;
    display: none;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: 0.8rem 0.8rem;
    height: 40px;
    width: 40px;
}
span.delete-button:hover{
    cursor: pointer;
}
.message-body:hover span.delete-button{
    display: inline-block;
}
.message-image{
    width: 36px;
    height: 36px;
    border-radius: 20px;
    float: left;
    margin: 10px;
    margin-left: -20px;
}
.message-text-header{
    float: left;
    display: block;
    font-family: Nunito;
    color: #202729;
    font-size: 15px;
    font-weight: 700;
    text-align: right;
    padding: 9px 9px 1px 9px;
    position: relative;
}
.message-sender{
    display: inline-block;
    font-size: 1em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
}
.message-body-text{
    display: block;
    padding: 1px 9px 6px 8px;
    clear: both;
}
.message-time{
    font-family: Nunito;
    color:  #999999;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
}
li.message{
    clear: both;
    padding-top: 14px;
}
.fixed-area{
    position: absolute;
    top: 10px;
    right: 42px;
}
.Modal {
    border-radius: 2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 28em;
    height: 12em;
    max-width: 600px;
    max-height: 300px;
    margin: auto;
    background-color: white;
    padding: 20px;
    font-family: Nunito;
    z-index: 100;
    background-color: rgb(235, 237, 236);
    opacity: 1;
    transition: opacity 1.4s ease-out;
    -ms-transition: opacity 1.4s ease-out;
    -moz-transition: opacity 1.4s ease-out;
    -webkit-transition: opacity 1.4s ease-out;
}
.Modal-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.Modal:target {
	display: block;
}
.app-area{
    height: 100%;
}
.Modal>form{
    padding:0.5em;
}
.mask{
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.6);
    z-index:90;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1.4s ease-out;
    -ms-transition: opacity 1.4s ease-out;
    -moz-transition: opacity 1.4s ease-out;
    -webkit-transition: opacity 1.4s ease-out;
}
.full-name-input,.email-input{
    padding-top: 20px;
}
input{
    position: absolute;
    left: 110px;
    width: 70%;
    line-height: 1.8em;
    border-radius: 12.2px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
    margin: -5px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

textarea:focus, input:focus{
    outline: none;
}

label{
    font-family: Nunito;
    color: #616161;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.modal-header{
    font-size: 1.5em;
    font-weight: normal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.sign-in-buttons{
    position: absolute;
    bottom: 2.5em;
    right: 1.3em;
}
.sign-in-buttons>button{
    font-family: Nunito;
    border-style: none;
    border-radius: 2px;
    font-size: 16px;
}
.sign-in-buttons>button:hover{
    cursor: pointer;
}
.identified-sign-in-btn{
    color:white;
    background: -webkit-linear-gradient(-180deg, rgb(117, 194, 0), rgb(64, 129, 67));
    background: linear-gradient(-180deg, rgb(117, 194, 0), rgb(64, 129, 67));
    width: 5em;
}
.anonymous-sign-in-btn{
    background: -webkit-linear-gradient(-180deg, rgb(177, 183, 188), rgb(148, 149, 149));
    background: linear-gradient(-180deg, rgb(177, 183, 188), rgb(148, 149, 149));
    margin-right: 5px;
}
.hidden{
    opacity: 0;
    transition: opacity 1.4s ease-out;
    -ms-transition: opacity 1.4s ease-out;
    -moz-transition: opacity 1.4s ease-out;
    -webkit-transition: opacity 1.4s ease-out;
}

.hidden button:hover{
    cursor: default;
}
.error-name,.error-email {
    font-family: Nunito;
    font-size: 0.7em;
    color: red;
    
}
.show{
    display:block;
}
.no-show{
    display: none;
}