@font-face{
    font-family: Nunito;
    src: url('./NunitoSans-Regular.ttf');
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width:100%;
    background-color: rgb(245, 245, 245);
    margin: auto;
}
cite{
    font-style: normal;
}

header.App-header{
    background-color:rgb(53, 55, 68);
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    padding: 15px 13px;
}
header.App-roomHeader{
    height: 7%;
    position: relative;
}

.NewMessageArea textarea,
.NewMessageArea pre {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
    white-space: normal;
	word-wrap: break-word;
	padding: 0.1em;
    padding-right: 5%;
}

.NewMessageArea textarea {    
    width: 100%;
	resize: none;
	border: none;
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	overflow: visible;
 
}


.App-roomHeader-fixedArea-alignRight{
    font-family: Nunito;
    color:  #353744;
    font-size: 15px;
    font-weight: 700;
    text-align: right;
}

dl,dt,dd{
    display: inline-block;
    margin: 0;
}

img.Button-msgArrowImage:hover, img.Button-msgWrapImage:hover{
    cursor: pointer;
}

ol.MainMessageArea-messageList{
    list-style: none;
    margin-top: -14px;
}  
.Message-body{
    max-width: 600px;
    min-width: 120px;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
    background-color: #ffffff;
    font-family: Nunito;
    color: #616161;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    float: left;
    word-wrap: break-word;
}
button.Message-deleteButton{
    background-color: transparent;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-size: 0.6rem 0.6rem;
    height: 10px;
    width: 10px;
    position: absolute; 
    right: 2%;
    top: 40%;
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    display: inline-block;
    margin: -1px;
    overflow: hidden;
}
button.Message-deleteButton:focus{
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    margin: 0;
    overflow: visible;
    width: auto;
    white-space: inherit;
}
.is-mine:focus .Message-deleteButton,.is-mine:hover .Message-deleteButton{
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    margin: 0;
    overflow: visible;
    width: auto;
    white-space: inherit;
}
.is-mine:focus,.is-mine:hover{
    background-color:#ebedec;
    color:#616161;
    font-family: Nunito;
    font-size: 15px;
    font-weight: 400;
}
button.Message-deleteButton:hover{
    cursor: pointer;
}
.Message-body:hover span.Message-deleteButton{
    display: inline-block;
}
.Message-image{
    background: white;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    float: left;
    margin-right: 10px;
    margin-left: -20px;
    border-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
}
.Message-textHeader{
    float: left;
    display: block;
    font-family: Nunito;
    color: #202729;
    font-size: 15px;
    font-weight: 700;
    /*text-align: right;*/
    width: 100%;
    box-sizing: border-box;
    padding: 9px 9px 1px 9px;
    position: relative;
}
.Message-sender{
    display: inline-block;
    font-size: 1em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    font-weight: bold;
}
.Message-bodyText{
    display: block;
    padding: 1px 9px 6px 8px;
    clear: both;
}
.Message-time{
    font-family: Nunito;
    color:  #999999;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
    padding-right: 20px;
}
li.Message{
    clear: both;
    padding-top: 14px;
}

.Modal {
    border-radius: 2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 28em;
    height: 12em;
    max-width: 600px;
    max-height: 300px;
    margin: auto;
    background-color: white;
    padding: 20px;
    font-family: Nunito;
    z-index: 102;
    background-color: rgb(235, 237, 236);
    opacity: 1;
    transition: opacity 1.4s ease-out;
    -ms-transition: opacity 1.4s ease-out;
    -moz-transition: opacity 1.4s ease-out;
    -webkit-transition: opacity 1.4s ease-out;
}
.Modal-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.Modal:target {
	display: block;
}
.App{
    height: 100%;
}
.Modal>form{
    padding:0.5em;
}
.Mask{
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(0, 0, 0, 0.6);
    z-index:101;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 1.4s ease-out;
    -ms-transition: opacity 1.4s ease-out;
    -moz-transition: opacity 1.4s ease-out;
    -webkit-transition: opacity 1.4s ease-out;
}
.Modal-fullNameInput,.Modal-emailInput{
    padding-top: 20px;
}
input{
    position: absolute;
    left: 110px;
    width: 70%;
    line-height: 1.8em;
    border-radius: 12.2px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 9px;
    border-style: solid;
    border-width: 1px;
    border-color: #d7d7d7;
    margin: -5px;
    font-family: Nunito;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
}

textarea:focus, input:focus{
    outline: none;
}

label{
    font-family: Nunito;
    color: #616161;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.Modal-header{
    font-size: 1.5em;
    font-weight: normal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
.Modal-signInButtons{
    position: absolute;
    bottom: 2.5em;
    right: 1.3em;
}
.Modal-signInButtons>button{
    font-family: Nunito;
    border-style: none;
    border-radius: 2px;
    font-size: 16px;
}
.Modal-signInButtons>button:hover{
    cursor: pointer;
}
.IdentifiedSignInButton{
    color:white;
    background: -webkit-linear-gradient(-180deg, rgb(117, 194, 0), rgb(64, 129, 67));
    background: linear-gradient(-180deg, rgb(117, 194, 0), rgb(64, 129, 67));
    width: 5em;
}
.AnonymousSignInButton{
    background: -webkit-linear-gradient(-180deg, rgb(177, 183, 188), rgb(148, 149, 149));
    background: linear-gradient(-180deg, rgb(177, 183, 188), rgb(148, 149, 149));
    margin-right: 5px;
}
.Mask.is-hidden{
    opacity: 0;
    transition: opacity 1.4s ease-out;
    -ms-transition: opacity 1.4s ease-out;
    -moz-transition: opacity 1.4s ease-out;
    -webkit-transition: opacity 1.4s ease-out;
}

.Modal.is-hidden{
    opacity: 0;
    transition: opacity 1.4s ease-out;
    -ms-transition: opacity 1.4s ease-out;
    -moz-transition: opacity 1.4s ease-out;
    -webkit-transition: opacity 1.4s ease-out;
}

.is-in-background{
    z-index: -100;
}
.is-hidden button:hover{
    cursor: default;
}
.Modal-errorName,.Modal-errorEmail {
    font-family: Nunito;
    font-size: 0.7em;
    color: red;
    
}
.show{
    display:block;
}
.no-show{
    display: none;
}
::-webkit-scrollbar {
    width: 0.85%;
    height: 20%;
    background-color:  #ffffff;

}
 
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 10px;
    background-color:  #ffffff;
    height: 61.1%;
 
}
 
 ::-webkit-scrollbar-track-piece  { 
     background-color:  #ffffff; 
     border-style: solid;
     border-radius: 10px;
     border-width: 1px;
     border-color:  #d7d7d7;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color:  #d7d7d7;
    background-color:  rgb(235, 237, 236);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}

.Sidebar{
    position: absolute;
    height: calc(100% - 100px);
    width: 0px;
    background-color: rgb(94, 211, 149);
    }
.NewMessageArea {
    width: 83%;
    margin-right: 2.3%; 
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    /*border-radius: 18px;*/
    border: 1px solid #d7d7d7;
	overflow: visible;
	-webkit-scrollbar: red;
    position: relative;
    left: 2.3%;
    bottom: 0;
}

/*.Modal-fullNameInput,.Modal-emailInput{
    padding-top: 60px;
}

.Modal{
    max-height: 100%;
    min-height: 0%;
    width: 88.7%;
    height: 89.3%;
    z-index: 102;
    
}*/

.NewMessageArea textarea{
    /*border-radius: 18px;*/
    border: 1px solid #d7d7d7;
}
main.MainMessageArea{
    height: calc(90% - 193px);
    width: calc(98%);
    margin-right: 10px;
    box-sizing: border-box;
    margin-left: 0px;
    position: relative;
    overflow-y: auto;
}
.App-roomTitle{
    font-family: Nunito;
    color:  #292929;
    font-size: 22.5px;
    font-weight: 400;
    text-align: left;
    margin-left: 2.4%;
    position: relative;
    left: 0;
}
img.Button-msgArrowImage{
    height: 27px;
    width: 32px;
    z-index: 100;
    position: absolute;
    left: calc(101% + 16px);
    bottom: calc(50% - 13px);
}
img.Button-msgWrapImage{
    position: absolute;
    left: 101%;
    height: 55px;
    width: 55px;
    bottom: calc(50% - 27px);
    z-index: 99;
}
::-webkit-scrollbar {
    width: 0.85%;
    height: 0%;
    background-color:  #ffffff;

}
.submit-button{
    position: relative;
}
@media screen and (max-width: 179px){
.App-header>img{
    width:130px;
}
.Message-body{
    min-width: 0;
}

}
@media screen and (max-width: 319px){
img.Button-msgArrowImage {
    height: 15px;
    width: 19px;
    z-index: 100;
    position: absolute;
    left: calc(0% + 10px);
    bottom: calc(-47% + 8px);
}
.NewMessageArea{
    height: 8.7%;
    border-radius: 18px;
}
img.Button-msgWrapImage {
    position: absolute;
    left: 0%;
    height: 34px;
    width: 32px;
    bottom: -47%;
    z-index: 99;
}
.Modal-fullNameInput,.Modal-emailInput{
    padding-top: 60px;
}

.Modal{
    max-height: 100%;
    min-height: 0%;
    width: 88.7%;
    height: 89.3%;
    z-index: 102;
    
}
input{
    position: relative;
    left: 0;
    width: 90%;
}
.NewMessageArea textarea{
    border-radius: 18px;
}
}
@media screen and (min-width: 319px) and (max-width:400px){
img.Button-msgArrowImage {
    height: 20px;
    width: 23px;
    z-index: 100;
    position: absolute;
    left: calc(101% + 16px);
    bottom: calc(50% - 13px);
}
img.Button-msgWrapImage {
    position: absolute;
    left: 101%;
    height: 46px;
    width: 46px;
    bottom: calc(50% - 27px);
    z-index: 99;

}

input{
    width: 60%;
}
}
@media screen and (min-width: 400px) and (max-width: 638px){
img.Button-msgArrowImage{
    height: 27px;
    width: 32px;
    z-index: 100;
    position: absolute;
    left: calc(101% + 16px);
    bottom: calc(50% - 13px);
}
img.Button-msgWrapImage{
    position: absolute;
    left: 101%;
    height: 55px;
    width: 55px;
    bottom: calc(50% - 27px);
    z-index: 99;
}
}
@media screen and (min-width: 320px) and (max-width: 638px){
.Message-body{
        min-width: 120px;
}
.App-roomHeader-fixedArea{
    position: absolute;
    top: 10px;
    right: 42px;
    margin: 1%;
}
.Sidebar{
    position: absolute;
    height: calc(100% - 100px);
    width: 0px;
    background-color: rgb(94, 211, 149);
    }
.NewMessageArea {
    width: 83%;
    margin-right: 2.3%; 
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-radius: 18px;
    border: 1px solid #d7d7d7;
    height: 8.7%;
	overflow: visible;
	-webkit-scrollbar: red;
    position: relative;
    left: 2.3%;
    bottom: 0;
}

.Modal-fullNameInput,.Modal-emailInput{
    padding-top: 60px;
}

.Modal{
    max-height: 100%;
    min-height: 0%;
    width: 88.7%;
    height: 89.3%;
    z-index: 102;
    
}

.NewMessageArea textarea{
    border-radius: 18px;
    border: 1px solid #d7d7d7;
}
main.MainMessageArea{
    height: calc(90% - 193px);
    width: calc(98%);
    margin-right: 10px;
    box-sizing: border-box;
    margin-left: 0px;
    position: relative;
    overflow-y: auto;
}
.App-roomTitle{
    font-family: Nunito;
    color:  #292929;
    font-size: 22.5px;
    font-weight: 400;
    text-align: left;
    margin-left: 2.4%;
    position: relative;
    left: 0;
}

::-webkit-scrollbar {
    width: 0.85%;
    height: 0%;
    background-color:  #ffffff;

}
.submit-button{
    position: relative;
}

}
@media screen and (min-width: 638px){
    
.NewMessageArea textarea,
.NewMessageArea pre {
    padding-right: 115px;
}
.Message-body{
        min-width: 120px;
}
.App-roomHeader-fixedArea{
    position: absolute;
    top: 10px;
    right: 42px;
    margin: 1%;
}
.Sidebar{
    position: absolute;
    height: calc(100% - 100px);
    width: 230px;
    background-color: rgb(94, 211, 149);
}

.NewMessageArea {
    position: absolute;
    left: 230px;
    bottom: 0px;
    width: calc(100% - 230px);
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border:none;
    border-top: 0.5px solid #d7d7d7;
	max-height: 300px;
    min-height: 93px;
	overflow: hidden;
	-webkit-scrollbar: red;
    margin:0;
    
}

main.MainMessageArea{
    display: inline-block;
    height: calc(90% - 193px);
    width: calc(98% - 230px);
    margin-right: 10px;
    box-sizing: border-box;
    margin-left: 230px;
    position: relative;
    overflow-y: auto;
}

.App-roomTitle{
    font-family: Nunito;
    color:  #292929;
    font-size: 22.5px;
    font-weight: 400;
    text-align: left;
    margin-left: 29px;
    position: absolute;
    left: 230px;
}

img.Button-msgArrowImage{
    height: 27px;
    width: 32px;
    position: absolute;
    bottom: calc(50% - 13px);
    left: calc(100% - 100px);
    z-index: 100;
}
img.Button-msgWrapImage{
    height: 55px;
    width: 55px;
    position: absolute;
    bottom: calc(50% - 27px);
    left: calc(100% - 115px);
    z-index: 99;
}
}